# Application
APP_PORT=3000
APP_HOST=127.0.0.1

# Environment
NODE_ENV=development

# Database
DB_CLIENT=mysql
DB_HOST=localhost
DB_USER=<YOUR_DB_USER>
DB_PASSWORD=<YOUR_DB_PASSWORD>
DB_NAME=<YOUR_DB_NAME>
DB_PORT=3306

# Amazon S3
BUCKET_NAME=<BUCKET_NAME>
BUCKET_REGION=<BUCKET_REGION>
AWS_S3_ACCESS_KEY_ID=<AWS_S3_ACCESS_KEY_ID>
AWS_S3_SECRET_ACCESS_KEY=<AWS_S3_SECRET_ACCESS_KEY>

# GMail
GM_EMAIL=<GMAIL_EMAIL>
GM_PASSWORD=<GMAIL_APP_PASSWORD>

# Mysql socket path /path/to/mysql.sock (leave empty to use default)
SOCKET_PATH=<YOUR_SOCKET_PATH>

# Log
LOG_DIR=logs
LOG_LEVEL='debug'

TOKEN_SECRET_KEY=secretkeyforjsonwebtoken

UTESA_API_REST=<UTESA_REST_API>
